.box-content {
    position: relative;
    padding: 20px;
    margin: 0 0 20px;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 1px 1px rgba(0, 0, 0, .05);
}

.box-content:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    clear: both;
    overflow: hidden;
}

.box-content .box-title {
    margin: 0 0 30px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.box-content .box-title .ico {
    margin-right: 8px;
    line-height: 16px;
}

.box-content .box-title.with-control .controls {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 0;
    line-height: 16px;
}

.box-content .box-title.with-control .control {
    border: none;
    background: 0 0;
    outline: none;
    height: 16px;
    font-size: 14px;
}

.box-content .box-title.with-control .fa-times {
    position: relative;
    top: -1px;
}

.box-content .content:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    clear: both;
    overflow: hidden;
}

.box-content .dropdown.js__drop_down {
    position: absolute;
    right: 20px;
    top: 20px;
}

.box-content .dropdown.js__drop_down .dropdown-icon {
    color: #aab2bd;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

@media(min-width:1025px) {
    .box-content .dropdown.js__drop_down .dropdown-icon: hover {
        color: #435966;
    }
}

.box-content .dropdown.js__drop_down .sub-menu {
    -ms-filter: "alpha(opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 100%;
    margin-right: 5px;
    z-index: 20;
    width: 200px;
    margin-top: 2px;
    padding: 10px 0;
    border: 1px solid rgba(152, 166, 173, .15);
    background: #fff;
    list-style: none;
    transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    transform: translate(0, 20px);
    -webkit-transform: translate(0, 20px);
    -moz-transform: translate(0, 20px);
    -o-transform: translate(0, 20px);
    -ms-transform: translate(0, 20px);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .06), 0 1px 0 0 rgba(0, 0, 0, .02);
    -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, .06), 0 1px 0 0 rgba(0, 0, 0, .02);
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, .06), 0 1px 0 0 rgba(0, 0, 0, .02);
}

.box-content .dropdown.js__drop_down .sub-menu a {
    display: block;
    padding: 6px 20px;
    color: #435966;
}

@media(min-width:1025px) {
    .box-content .dropdown.js__drop_down .sub-menu a: hover {
        color: #1d84df;
    }
}

.box-content .dropdown.js__drop_down .sub-menu .split {
    margin: 9px 0;
    width: 100%;
    height: 1px;
    background: #e5e5e5;
}

.box-content .dropdown.js__drop_down.active .dropdown-icon {
    color: #435966;
}

.box-content .dropdown.js__drop_down.active .sub-menu {
    -ms-filter: "alpha(opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
}

.box-content.card-closed .box-title {
    margin-bottom: 0!important;
}

.box-content.card-closed .box-title.with-control .fa-minus:before {
    content: "\f067"
}

.box-content.bordered {
    border-top: 4px solid #435966;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.box-content.bordered-all {
    border: 1px solid #435966;
    border-top: 4px solid #435966;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.box-content.card {
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.box-content.card .box-title {
    margin-bottom: 0;
    padding: 10px 20px;
    line-height: 30px;
    color: #fff!important;
    background-color: #435966;
}

.box-content.card .box-title .ico {
    line-height: 30px;
}

.box-content.card .box-title .controls {
    top: 17px;
}

.box-content.card .dropdown {
    top: 15px;
}

.box-content.card .dropdown .dropdown-icon {
    color: #fff;
}

.box-content.card .card-content {
    padding: 20px;
}

.box-content.card.bordered-all {
    border-top: none;
}

.box-content.card .dropdown.js__drop_down .dropdown-icon {
    color: #fff!important;
}

.box-content.card.white .box-title {
    color: #435966!important;
    background: #fff;
    border-bottom: 1px solid #e6e9ed;
}

.box-content.primary {
    border-color: #188ae2;
}

.box-content.primary .box-title {
    color: #188ae2;
}

.box-content.success {
    border-color: #00bf4f;
}

.box-content.success .box-title {
    color: #00bf4f;
}

.box-content.info {
    border-color: #00aeff;
}

.box-content.info .box-title {
    color: #00aeff;
}

label {
    font-weight: bolder;
}

.box-content.warning {
    border-color: #fbbc05;
}

.box-content.warning .box-title {
    color: #fbbc05;
}

.box-content.danger {
    border-color: #ea4335;
}

.box-content.danger .box-title {
    color: #ea4335;
}

.box-content.muted {
    border-color: #f4f8fb;
}

.box-content.muted .box-title {
    color: #f4f8fb;
}

.box-content.inverse {
    border-color: #212121;
}

.box-content.inverse .box-title {
    color: #212121;
}

.box-content.purple {
    border-color: #5b69bc;
}

.box-content.purple .box-title {
    color: #5b69bc;
}

.box-content.pink {
    border-color: #ff8acc;
}

.box-content.pink .box-title {
    color: #ff8acc;
}

.box-content.lightdark {
    border-color: #f4f8fb;
}

.box-content.lightdark .box-title {
    color: #f4f8fb;
}

.box .box-header>.fa,
.box .box-header>.glyphicon,
.box .box-header .box-title,
.box .box-header .ico {
    display: inline-block;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    margin-right: 5px;
    font-weight: 500;
}